.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 7rem;
  color: lightseagreen;
  font-size: 1.25rem;
  margin: 1rem;
}

.error {
  color: red;
}

.username {
  text-align: center;
  font-size: 1.10rem;
  margin-bottom: 1rem;
  width: 350px;
  height: 35px;
  border-radius: 5px;
}

.email {
  text-align: center;
  font-size: 1.10rem;
  margin-bottom: 1rem;
  width: 350px;
  height: 35px;
  border-radius: 5px;
}

.message {
  text-align: center;
  font-size: 1.10rem;
  margin-bottom: 1rem;
  width: 350px;
  height: 75px;
  border-radius: 5px;
}

.submit-button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
}
