* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(226, 241, 241);
  box-sizing: border-box;
}
