.formUser-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-login h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
.form-user-toggle-buttons {
  display: flex;
  gap: 15px;

  background-color: rgb(234, 234, 239);
  padding: 10px 15px;
  border-radius: 9px;
  box-shadow: 2px 1px 10px rgba(222, 223, 231, 0.1);
  margin-bottom: 5px;
}

.toggle-user-button {
  padding: 10px 15px;
  background-color: rgb(12, 106, 101);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  margin: auto;
}

.form-signup,
.form-login {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 9px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 239);
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgba(41, 61, 208, 0.1);
}

.form-signup h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
.input-form-user {
  margin-bottom: 20px;
}

.input-form-user input {
  padding: 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
}

.button-form-user {
  width: 100%;
  padding: 14px 15px;
  background-color: rgb(12, 95, 91);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .form-signup,
  .form-login {
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 500px;
    height: 410px;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 6px 9px 8px rgba(41, 61, 208, 0.1);
  }
  .input-form-user {
    margin-bottom: 25px;
  }

  .input-form-user input {
    padding: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 9px;
  }
  .form-user-toggle-buttons {
    display: flex;
    gap: 15px;
    border-radius: 9px;
    width: 33%;
    border: 1px solid #ccc;
    box-shadow: 6px 8px 8px rgba(234, 238, 253, 0.1);
  }

  .toggle-user-button {
    padding: 18px 40px;
    color: white;
    font-size: 16px;
    margin: auto;
    border-radius: 9px;
    margin-bottom: 10px;
    margin-top: 1px;
  }
  .button-form-user {
    padding: 15px;
    color: rgb(236, 230, 230);
    border: none;
    cursor: pointer;
    border-radius: 9px;
    font-size: 16px;
  }
}
