.mentions {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.mentions h1 {
  color: #0073aa;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.mentions p {
  margin-bottom: 15px;
  color: #555;
}

.mentions strong {
  color: #0073aa;
  font-weight: bold;
}
.wild {
  text-align: center;
  padding-top: 15px;
}
