.mentions {
  max-width: 360px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 20px;
  text-align: justify;
  hyphens: auto;
}

.mentions h1 {
  font-size: 1.5rem;
  color: #333;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  border-bottom: 1px solid #d5d2d2;
}

.mentions p {
  text-align: justify;
  font-size: 0.9rem;
  hyphens: auto;
}
@media (min-width: 768px) {
  .mentions {
    max-width: 700px;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}
