.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f4f4f9;
  padding: 20px;
  box-sizing: border-box;
}

.form-login {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-login h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #585656;
}

.inputlogin {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #857575;
  border-radius: 5px;
  font-size: 16px;
}

.buttonlogin {
  width: 50%;
  padding: 15px;
  background-color: #053a74;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.links {
  margin-top: 15px;
  font-size: 14px;
}

.links a {
  color: #053a74;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

@media (min-width: 768px) {
  .form-login {
    padding: 30px;
    max-width: 500px;
  }

  .inputlogin {
    font-size: 15px;
    padding: 18px;
  }

  .buttonlogin {
    font-size: 18px;
    padding: 15px;
  }
}
