body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.75;
  font-size: 16px;
}

.info {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.banner-icon {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

h1 {
  color: #0073aa;
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  padding: 15px;
}

.home-mission > li {
  text-align: center;
  list-style: none;
  text-decoration: none;
}

ul li {
  margin-bottom: 10px;
  padding-left: 20px;
}

ul li p {
  margin: 0;
}
.UE {
  text-align: center;
}

br {
  display: block;
  margin-top: 20px;
}
