@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Tilt+Neon&");

.h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ul {
  align-content: center;
  text-align: center;
}
.li {
  .banner-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 35px;
  }
}

.banner-icon {
  height: 92px;
}

.info {
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  word-spacing: 0;
}

.info h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #d5d2d2;
  font-size: 1.8rem;
  color: #333;
}

.info p {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  color: #484444;
  hyphens: auto;
}

.info ul {
  margin-left: 22px;
  font-weight: normal;
  color: #484444;
}

.info ul li {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #484444;
}
@media (min-width: 768px) {
  .info {
    max-width: 700px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 10px;
    text-align: justify;
  }

  .banner-images {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    transform: translate(5%, 4%);
    align-items: center;
    top: -30px;
  }

  .banner-icon {
    max-width: 90%;
    object-fit: scale-down;
    height: 90%;
  }
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
