.footer-container {
  background-color: #efeff6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #dcdcdc;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
}

.footer-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 15px;
}

.footer-icon {
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.footer-text {
  text-align: center;
  border-top: 1px solid #8f8a8a;
  opacity: 0.7;
  padding-top: 10px;
  margin-top: 20px;
}

.footer-text p {
  margin: 5px 0;
  color: #555;
}

.footer-link {
  color: #0073aa;
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 20px;
    margin-top: 50px;
  }

  .footer-images {
    gap: 25px;
  }

  .footer-icon {
    height: 50px;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    width: 100vw;
  }

  @media screen and (min-width: 768px) {
    .footer-text {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 2rem;
    }
  }

  .footer-link {
    font-size: 16px;
  }
}
