.footer-container {
  background-color: #efeff6;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f4f0f0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
}

.footer-images {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  padding: 10px 8px;
}

.footer-icon {
  height: 33px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.1);
}

.footer-text {
  text-align: center;
  border-top: 1px solid #8f8a8a;
  opacity: 0.7;
}

.footer-link {
  color: rgb(2, 2, 19);
  text-decoration: none;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer-container {
    padding: 10px;
    margin-top: 50px;
  }
  .footer-images {
    gap: 15px;
  }
  .footer-icon {
    height: 65px;
  }

  .footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    color: inherit;
  }
  .footer-link {
    font-size: 15px;
    padding-top: 15px;
  }
}
