@media screen and (max-width: 768px) {
  .logo-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.logo-container {
  display: flex;
}
/* .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .navbar {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.show-nav {
  display: block;
}

.hide-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide-nav {
    display: block;
  }
}

.navbar__burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: #060606;
}

@media screen and (min-width: 768px) {
  .navbar__burger {
    display: none;
  }
}

.menu-link {
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
  transition: all .20s ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu-link {
    text-decoration: none;
    transition: all .6s ease-in-out;
    color: #060606;
    background-color: #ac959544;
    align-items: center;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-link:hover,
  .menu-link:active {
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 768px) {
  .menu-link:after,
  .menu-link:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 290ms ease-in-out;
    width: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu-link:after,
  .menu-link:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #2705e976;
    transition: width 350ms ease-in-out;
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .menu-link:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
}

.burger-bar,
.burger-bar::before,
.burger-bar::after {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 3px;
  background: rgb(22, 19, 19);
  transition: all 0.3s ease-in-out;
}
.burger-bar::before,
.burger-bar::after {
  content: "";
  position: absolute;
  left: 0;
}

.burger-bar::before {
  transform: translateY(-12px);
}

.burger-bar::after {
  transform: translateY(12px);
}
.navbar-item:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3vw;
  height: 1px;
  background: #ffffff;
}

.navbar-item:last-child:after {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar-item:after {
    display: none;
  }
}

.show-nav .burger-bar {
  width: 0;
  background: transparent;
}
.show-nav .burger-bar::before {
  transform: rotate(45deg);
}
.show-nav .burger-bar::after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .burger-bar {
    display: none;
  }
} */
