.header-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.196);
  }
}

.sub-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .sub-header-container {
    width: 20%;
  }
}

.btn-menu {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.nav {
  display: none;
}

.nav.show {
  background-color: rgb(117, 117, 124);
  display: block;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }

  .header-logo {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 8rem;
  }
}

.burger-bars,
.burger-bars::before,
.burger-bars::after {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 3px;
  background: rgb(22, 19, 19);
  transition: all 0.3s ease-in-out;
}

.burger-bars::before,
.burger-bars::after {
  content: "";
  position: absolute;
}

.burger-bars::before {
  transform: translateY(-12px);
}

.burger-bars::after {
  transform: translateY(12px);
}

.btn-menu.show .burger-bars {
  background: transparent;
}

.btn-menu.show .burger-bars::before {
  transform: rotate(45deg) translate(0, 0);
}

.btn-menu.show .burger-bars::after {
  transform: rotate(-45deg) translate(0, 0);
}
