.navbar__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #003366;
  padding: 10px;
  width: auto;
}

.navbar__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.navbar__link:hover {
  background-color: #66ccff;
  color: #003366;
}

.navbar__link img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.btn-menu {
  display: none;
}

.burger-bars {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: all 0.3s;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #003366;
  justify-content: center;
}

.nav.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar__links {
    flex-direction: column;
    background-color: #003366;
    padding: 7%;
    display: flex;
    align-items: center;
    align-content: center;
    list-style: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-evenly;
  }

  .btn-menu {
    display: block;
    background-color: #003366;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

  .btn-menu.show {
    background-color: #cc0033;
  }

  .nav {
    display: none;
    flex-direction: column;
  }

  .nav.show {
    display: flex;
  }
}
