@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-family: "Roboto", sans-serif;
  --primary-color: #f3f3f3;
  --text-color: #333;
  --title-color: #0073aa;
  --link-color: #003366;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  font-size: 1.8rem;
  text-align: center;
  margin: auto;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  padding: 1rem;
  background-color: #f3f3f3;
  color: #333;
  font-size: 1.25rem;
  margin: auto;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #f3f3f3;
  color: #333;
  font-size: 1.25rem;
}

.article > h3 {
  width: 80%;
  font-family: "Roboto", sans-serif;
  color: #0073aa;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0.5rem;
}

@media (min-width: 768px) {
  .article > h2 {
    font-size: 1.8rem;
  }
}

.zoom-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoom-image.zoomed {
  transform: scale(1.5);
  z-index: 10;
  width: 65%;
}

@media screen and (max-width: 768px) {
  .zoom-image {
    width: 70%;
    max-height: 20%;
  }

  .zoom-image.zoomed {
    transform: scale(2);
    width: 60%;
  }
}

.article > p {
  width: 90%;
  font-family: var(--text-family);
  color: var(--text-color);
  font-size: 0.8rem;
  text-align: left;
  margin: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .article > p {
    width: 80%;
    font-family: var(--text-family);
    color: var(--text-color);
    font-size: 1rem;
    text-align: center;
    margin: auto;
  }
}
