.association {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 5rem;
  background-color: lightgrey;
  border: solid 2px lightblue;
  border-radius: 25px;
  padding-bottom: 25px;
  margin: auto;
  margin-top: 75px;
  width: 75%;
}

.missions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 3rem;
  background-color: lightgrey;
  border: solid 2px lightblue;
  border-radius: 25px;
  padding-bottom: 25px;
  margin: auto;
  margin-top: 1rem;
  width: 75%;
}

@media screen and (max-width: 768px) {
  .association {
    width: 90%;
    font-size: 14px;
  }
  .missions {
    width: 90%;
    font-size: 14px;
  }
}
