.tarif-60 {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.tarif-60 h1 {
  color: #0073aa;
  font-size: 2em;
  border-bottom: 2px solid #0073aa;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.tarif-60 p {
  margin-bottom: 15px;
  text-align: center;
}

.tarif-60 h2 {
  color: #0073aa;
  font-size: 2em;
  border-bottom: 2px solid #0073aa;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.tarif-60 h3 {
  color: #0073aa;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: left;
}

ul li {
  margin-bottom: 10px;
  padding-left: 20px;
}

ul li ul {
  margin-top: 10px;
}

ul li ul li {
  padding-left: 20px;
}

button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #0073aa;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
}

button:hover {
  background-color: #005f8c;
}

@media screen and (max-width: 680px) {
  .tarif-60 h1,
  .tarif-60 h2 {
    font-size: 1.5em;
  }

  button {
    padding: 8px;
    font-size: 14px;
  }
}
