.tarif-45 {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarif-45 h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tarif-45 p {
  font-size: 18px;
  margin-bottom: 20px;
}

.tarif-45 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tarif-45 li {
  margin-bottom: 10px;
}

.tarif-45 h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
