.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  padding: 7rem;
  color: lightseagreen;
  font-size: 1.25rem;
  margin: 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.map-img {
  margin: auto;
  text-align: center;
  width: 70%;
  height: 50%;
}
@media screen and (min-width: 768px) {
  .map-img {
    margin: auto;
    width: 700px;
    height: 400px;
  }
}

.error {
  color: red;
}
label {
  color: rgb(21, 31, 224);
}
.username {
  text-align: center;
  font-size: 1.10rem;
  margin-bottom: 1rem;
  width: 250px;
  height: 35px;
  border-radius: 5px;
  color: rgba(146, 7, 226, 0.999);
}

.email {
  text-align: center;
  font-size: 1.10rem;
  margin-bottom: 1rem;
  width: 250px;
  height: 35px;
  border-radius: 5px;
}

.message {
  text-align: center;
  font-size: 1.10rem;
  margin-bottom: 1rem;
  width: 250px;
  height: 75px;
  border-radius: 5px;
}

.submit-button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    padding: 7rem;
    background-color: rgba(66, 65, 68, 0.295);
    font-size: 1.25rem;
    margin: 1rem;
  }

  .username {
    text-align: center;
    font-size: 1.10rem;
    margin-bottom: 1rem;
    width: 350px;
    height: 35px;
    border-radius: 5px;
  }

  .email {
    text-align: center;
    font-size: 1.10rem;
    margin-bottom: 1rem;
    width: 350px;
    height: 35px;
    border-radius: 5px;
  }

  .message {
    text-align: center;
    font-size: 1.10rem;
    margin-bottom: 1rem;
    width: 350px;
    height: 150px;
    border-radius: 5px;
  }

  .submit-button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    height: 50px;
  }
}
.submit-button:hover {
  background-color: #45a049;
}
